.pokemon-details-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.stats-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}