.sprite-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.togglers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.toggle-btn {
    background-color: transparent;
    font-size: 2rem;
    border: none;
}